<!DOCTYPE html>
<html>
    <head>
        <title>You are logged in!</title>

        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <p>Congratulations! You have successfully logged in.</h1>
    </body>
</html>